<!DOCTYPE html>
<html lang="es">
    <head th:replace="~{fragments/plantilla :: head}">

    </head>
<body>

<nav th:replace="~{fragments/plantilla :: navbar}"></nav>

<div class="cart-container">
    <div class="cart-header">
        <h2>Mi Carrito de Compras</h2>
        <span id="cartDate">Fecha: Cargando...</span>
    </div>

    <div class="cart-items">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th class='text-center'>Cantidad</th>
                    <th class='text-right'>Acciones</th>
                </tr>
            </thead>
            <tbody id="cartItemsTable">
            </tbody>
        </table>
    </div>

    <div class="cart-footer">
        <p>Subtotal: $<span id="subtotal">0.00</span></p>
        <p>Descuento: $<span id="descuento">0.00</span></p>
        <h4>Total: $<span id="total">0.00</span></h4>
        <button onclick="comprarCarrito()" class="btn btn-primary">Proceder con la Compra</button>
        <button onclick="limpiarCarrito()" class="btn btn-danger">Limpiar carrito</button>
    </div>
</div>

<!-- Incluye jQuery y Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '/api/v1/carrito/obtenerCarrito',
            type: 'GET',
            success: function(carrito) {
                if (carrito) {
                    $('#cartDate').text('Fecha: ' + carrito.fecha);

                    carrito.items.forEach(function(item) {
                        $('#cartItemsTable').append(`
                            <tr>
                                <td>${item.nombre}</td>
                                <td class='text-center'>${item.cantidad}</td>
                                <td class='text-right'>
                                    <button class="btn btn-danger btn-sm" onclick="eliminarItem('${item.idProducto}', '${item.nombre}', '${item.cantidad}')">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        `);
                    });

                    $('#subtotal').text(carrito.totalParcial.toFixed(2));
                    $('#descuento').text(carrito.descuento.toFixed(2));
                    $('#total').text(carrito.total.toFixed(2));
                } else {
                    $('#cartItemsTable').append('<tr><td colspan="2">No hay productos en el carrito.</td></tr>');
                }
            },
            error: function() {
                alert('Error al cargar el carrito. Por favor, intenta nuevamente.');
            }
        });
    });

    function eliminarItem(id, nombre, cantidad){

        console.log(id, nombre, cantidad);
        if (confirm('¿Estás seguro de que quieres eliminar este producto del carrito?')) {
            $.ajax({
                url: '/api/v1/carrito/quitarItem',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idProducto: id,  nombre: nombre, cantidad: cantidad}),
                success: function(response) {
                    location.reload();
                },
                error: function() {
                    alert('Error al eliminar el producto del carrito. Por favor, intenta nuevamente.');
                }
            });
        }
    }

    function limpiarCarrito(){
        if (confirm('¿Estás seguro de que quieres descartar este carrito?')) {
            $.ajax({
                url: '/api/v1/carrito/limpiar',
                type: 'POST',
                success: function(response) {
                    location.reload();
                },
                error: function() {
                    alert('Error al eliminar el producto del carrito. Por favor, intenta nuevamente.');
                }
            });
        }
    }

    function comprarCarrito(){
        if (confirm('¿Estás seguro de que quieres comprar este carrito?')) {
            $.ajax({
                url: '/api/v1/carrito/comprar',
                type: 'POST',
                success: function(response) {
                    location.reload();
                },
                error: function() {
                    alert('Error al eliminar el producto del carrito. Por favor, intenta nuevamente.');
                }
            });
        }
    }


</script>

<style>
    .cart-container {
        max-width: 800px;
        margin: 50px auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #eee;
        padding-bottom: 10px;
    }
    .cart-items {
        margin-top: 20px;
    }
    .cart-footer {
        margin-top: 20px;
        text-align: right;
    }
</style>
</body>
</html>
